<h1 class="display-3">Conversiones</h1>
<div class="mb-3">
  <table class="table table-primary">
    <tr>
      <td class="table-primary">Celsius</td>
      <td class="table-primary">Farenheit</td>
      <td class="table-primary">Kelvin</td>
    </tr>
    <tr class="table table-primary">
      <td class="table-primary"><input type="number" name="txtNumeroUno" id="txtNumeroUno" class="form-control" [(ngModel)]="celsius" (keyup)="changeCelsius()"></td>
      <td class="table-primary"><input type="number" name="txtNumeroUno" id="txtNumeroUno" class="form-control" [(ngModel)]="farenheit" (keyup)="changeFarenheit()"></td>
      <td class="table-primary"><input type="number" name="txtNumeroUno" id="txtNumeroUno" class="form-control" [(ngModel)]="kelvin" (keyup)="changeKelvin()"></td>
    </tr>
  </table>
</div>
