<div class="mb-3"></div>
<div class="container mb-3">
  <div class="card">
    <div class="card-header text-center text-primary">
      <h1 class="card-title">Lista de eventos</h1>
    </div>
    <div class="card-body text-primary">
      <table class="table table-striped">
        <tr>
          <th>Horario</th>
          <th>Conferencia</th>
          <th>Fecha</th>
          <th>Sede</th>
        </tr>
        <tr>
          <td>10:00 - 11:00</td>
          <td>Unboxing Tech: Abriendo la Caja de los Contenedores</td>
          <td>29/05/2025</td>
          <td>Auditorio</td>
        </tr>
        <tr>
          <td>11:00 - 12:00</td>
          <td>Podman en RHEL (Fedora Containers)</td>
          <td>29/05/2025</td>
          <td>Auditorio</td>
        </tr>
        <tr>
          <td>12:00 - 13:00</td>
          <td>La virtualización en la era de los contenedores</td>
          <td>29/05/2025</td>
          <td>Auditorio</td>
        </tr>

      </table>
    </div>
  </div>
</div>
